@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  border-left: 1px solid #3abbee;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #3abbee;
}
@media (max-width: 550px) {
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #d1d5db !important;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.9);
}
